@import url("https://fonts.cdnfonts.com/css/general-sans");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(224 242 254 / var(--tw-bg-opacity, 1));
  font-family: "General Sans", sans-serif;
  position: relative;
}

@layer utilities {
  /* Navbar */
  .nav-ul {
    @apply flex flex-col flex-1 justify-center gap-10 relative z-20;
  }

  .nav-li_a {
    @apply text-3xl hover:text-black font-bold;
  }

  .nav-sidebar {
    @apply absolute right-0 bg-white z-20 top-0;
  }
}

@keyframes colorChange {
  0% {
    color: #6b7280;
  }
  50% {
    color: #50e3ff;
  }
  100% {
    color: #000000;
  }
}

.hover-color-change:hover {
  animation: colorChange 0.2s ease forwards;
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

::-webkit-scrollbar {
  display: none;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Airplane */
.airplane {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 50;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.airplane::before {
  content: "\f135"; 
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #24ecff;
  font-size: 1.5em;
}

.airplane.selected::before {
  content: "\e518";
  color: #ff1d6c;
}