@import url('https://fonts.cdnfonts.com/css/general-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(224 242 254 / var(--tw-bg-opacity, 1));
  font-family: 'General Sans', sans-serif;
  position: relative;
}

@layer utilities {
  /* Navbar */
  .nav-ul {
    @apply flex flex-col flex-1 justify-center gap-10 relative z-20;
  }

  .nav-li_a {
    @apply text-3xl hover:text-black font-bold;
  }

  .nav-sidebar {
    @apply absolute right-0 bg-white z-20 top-0;
  }
}

@keyframes colorChange {
  0% {
    color: #6b7280;
  }
  50% {
    color: #50e3ff;
  }
  100% {
    color: #000000;
  }
}

.hover-color-change:hover {
  animation: colorChange 0.2s ease forwards;
}
